.header-container {
  display: flex;
  align-items: center;
}
.header-text-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-title {
  margin: 2px;
  font-size: 20px;
  font-weight: 500;
  columns: rgb(49, 39, 39);
}

.header-para {
  margin: 10px;
  font-size: 16px;
}

.zysk-img {
  width: 50px;
}
.profile-img {
  width: 60px;
  border-radius: 40px;
}

.ul {
  display: flex;
  list-style-type: none;
}

@media (max-width: 480px) {
  .ul {
    display: none;
  }
}
